pre {text-indent: 30px}


#content {font: 0.9em/1.9em verdana, sans-serif; 
text-align: center; 
background: #ffffff; 
padding: 20px; 
border: 1px solid black; 
border-top: none; 
z-index: 2; } 

#content a { 
text-decoration: none; 
color: #E8E9BE; } 

#content a:hover { background: #aaaaaa; }

* { margin: 0; padding: 0; }

html { height: 100%;}

body { 
	height: 100%; 
	background-color: #FFFFFF; 
	font: 80% Calibri, Helvetica, sans-serif;
	width: 1000px; 
	width: expression(document.body.clientWidth < 1200? '1200px' : 'auto' );

}


/* ==================== Form style sheet ==================== */

form { margin: 0px;  padding-bottom: 5px; }

fieldset { 
	margin: 0px;
	padding: 10px;
	width: auto;

}

fieldset.normal {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #aaa;
	margin: 0px 0px 0px 1px;
	border: 0px;
}

fieldset.normalOF {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #aaa;
	margin: 0px 0px 0px 1px;
	border: 0px;
	page-break-before: always
}

fieldset.NOPRINT {
	display: none;
}

fieldset.warning {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #aaa;
	border: 1px;
	margin: 1px 1px 1px 1px;
}

fieldset.normalt { 
	background-color: #FFFFFF;
	border: 0px;
}

fieldset.head {
	background-color: #eee;
	margin: 5px;
	width: auto;
}

fieldset.autenticacao {
	background-color: #FFFFFF;
}

fieldset.footer {
	margin: 20px 10px 10px 10px;
	padding: 10px 10px 40px 1px;
	clear: both;
	background-color: #FFD700;
}

#content_menu {
	float: left;
	margin-bottom: 20px;
}

#header_menu{
	padding-bottom: 100px;
}

legend {
	background-color: gray;
	color: #000000;
	margin: 0px;
	margin: expression(0 == 0 ? '0px -7px 10px -7px' : '0px -7px 10px -7px' );
	font-weight: bold;
	font-size: medium;
	padding: 10px;
	display: block;
}

legendin { font-size: 1em; background-color: #ffffff; color: #000000; font-weight: bold; padding: 4px 8px; }

label.float { float: left; display: block; width: 200px; margin: 4px 0 0 0; clear: left;  }

label { display: block; width: auto; margin: 0 0 10px 0; }

label.spam-protection { display: inline; width: auto; margin: 0; }

.ppthelp {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 85%;
	margin-bottom: 1em;
}

.penhelp {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 85%;
	color: #666;
	margin-bottom: 1em;
}


/* ==================== Form style sheet END ==================== */


/* ==================== Table style sheet =======================*/

box-table-a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 1000px;
	text-align: left;
	border-collapse: collapse;
}

box-table-a th {
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
	background: #ffffff;
	border-top: 4px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	color: #000000;
}

box-table-a td {
	padding: 5px;
	background: #eee8aa; 
	border-bottom: 1px solid #fff;
	color: #000000;
	border-top: 1px solid transparent;
	align: right;
}

box-table-a tr:hover td {
	background-color: #ffdd00;
	color: #339;
}


box-table-b {
	font-size: 12px;
	margin: 10px 0px;
	width: 1000px;
	text-align: center;
	border-collapse: collapse;
	//border-top: 7px solid #FFD700;
	border-bottom: 7px solid #cccccc;
}
box-table-b th {
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
	background: #ffffff;
	//border-right: 1px solid #cccccc;
	//border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #000000;
}

box-table-b td {
	padding: 8px;
	background: #eee8aa; 
	//border-right: 1px solid #FFD700;
	//border-left: 1px solid #FFD700;
	border-bottom: 1px solid #ffffff;
	color: #000000;
}

box-table-b caption {
	padding: 8px;
	background: #eee8aa; 
	//border-right: 1px solid #cccccc;
	//border-left: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
	color: #000000;
}

box-table-b td#delete {
	padding: 8px;
	background: #ffffff; 
	border-right: 1px solid #FFD700;
	border-left: 1px solid #ffffff;

}

box-table-b th#delete {
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #ffffff;
	border-right: 1px solid #FFD700;
	border-left: 1px solid #ffffff;
	color: #000000;
}


.box-table-c {
	font-size: 12px;
	margin: 10px 0px;
	width: 1000px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #FFD700;
	border-bottom: 7px solid #cccccc;
}
.box-table-c th {
	font-size: 15px;
	font-weight: normal;
	padding: 8px;
	background: #ffffff;
	//border-right: 0px solid #FFD700;
	//border-left: 0px solid #cccccc;
	color: #000000;
}

.box-table-c td {
	padding: 15px;
	font-size: 15px;
	background: #ffffff; 
	border-right: 0px solid #FFD700;
	border-left: 0px solid #FFD700;
	border-bottom: 1px solid #FFD700;
	color: #669;
}

.box-table-c caption {
	padding: 8px;
	background: #eee8aa; 
	border-right: 1px solid #FFD700;
	border-left: 1px solid #FFD700;
	border-bottom: 1px solid #cccccc;
	color: #669;
}

.box-table-c td#delete {
	padding: 8px;
	background: #ffffff; 
	border-right: 1px solid #FFD700;
	border-left: 1px solid #ffffff;

}

.box-table-c th#delete {
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #ffffff;
	border-right: 1px solid #FFD700;
	border-left: 1px solid #ffffff;
	color: #000000;
}
/* ==================== Table Reservas =======================*/

.cell_normal {
	width: 70px;
	height: 25px;
	text-align: center;
	border: 1px solid #000000;
}

.cell_heading {
	width: 70px;
	height: 25px;
	text-align: center;
	/*font-weight: bold;*/
	border: 1px solid #000000;
	background-color: #FFD700;
}

.cell_headingCal {
	width: 70px;
	height: 25px;
	text-align: center;
	/*font-weight: bold;*/
	border: 0px solid #000000;
	background-color: #FFFFFF;
}

.cell_reserved {
	width: 70px;
	height: 25px;
	text-align: center;
	border: 0px solid #000000;
	background-color: #EF6767;
}

.cell_selected {
	width: 70px;
	height: 25px;
	text-align: center;
	border: 2px solid #000000;
	background-color: #C6F4C9;
}

.cell_disabled {
	width: 70px;
	height: 25px;
	text-align: center;
	border: 1px solid #000000;
	background-color: #DBDBDB;
}

.cell_marked {
	width: 70px;
	height: 25px;
	text-align: center;
	border: 2px solid #000000;
	background-color: #DBF1FF;
}

.box_legend {
	width: 15px;
	height: 15px;
	border: 1px solid #000000;
}
