pre {text-indent: 30px}

ul.menu, ul.submenu {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
 
ul.menu li,
ul.submenu li {
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}
 
ul.menu li a,
ul.submenu li a {
	background-color: #eee;
	color: #000000;
	text-decoration: none;
	display: inline-block;
	padding: 5px;
	width: 160px;
	margin: 0px 0px 2px 5px;
}

ul.submenu li a {
	width: 145px;
	margin-left: 20px;
} 
 
ul.menu li a:hover,
ul.submenu li a:hover {
	color: #fff; 
	background-color: #ADC09F; 
}

ul.menu a.active,
ul.menu a.active:hover,
ul.submenu a.active,
ul.submenu a.active:hover { 
	color: black; 
	background-color: #ffcc00 !important;
	text-decoration: none;
	cursor: hand;
}
 


/*#tab7 {
 background-color: #FFB7C0;
}

#tab5 {
 background-color: #FFB7C0;
}

#tab6 {
 background-color: #FFB7C0;
}*/




/*
#tabmenu { 
color: #000; 
border-bottom: 1px solid black; 
margin: 12px 00px 20px 0px; 
padding: 10px; 
z-index: 15; 
padding-left: 10px } 

#tabmenu li { 
display: inline; 
overflow: hidden; 
list-style-type: none;
float: left;

} 

#tabmenu a, a.active { 
color: black; 
background: #FFD700;
font: normal 1em verdana, Arial, sans-serif; 
border: 1px solid black; 
padding: 5px 5px 0px 5px; 
margin: 1px; 
text-decoration: none;
cursor:hand; } 

#tabmenu a.active { 
background: #ffffff; 
border-bottom: 3px solid #ffffff; } 

#tabmenu a:hover { 
color: #fff; 
background: #ADC09F; } 

#tabmenu a:visited { 
color: #E8E9BE; } 

#tabmenu a.active:hover { 
background: #ffffff; 
color: #DEDECF; } */

#content {font: 0.9em/1.9em verdana, sans-serif; 
text-align: center; 
background: #ffffff; 
padding: 20px; 
border: 1px solid black; 
border-top: none; 
z-index: 2; } 

#content a { 
text-decoration: none; 
color: #E8E9BE; } 

#content a:hover { background: #aaaaaa; }

* { margin: 0; padding: 0; }

html { height: 100%;}

body { 
	height: 100%; 
	background-color: #ffffff; 
	font: 90% Calibri, Helvetica, sans-serif;
	width: 2000px; 
	width: expression(document.body.clientWidth < 1200 ? '1200px' : 'auto' );

}


/* ==================== Form style sheet ==================== */

form { margin: 0px;  padding-bottom: 5px; }

fieldset { 
	margin: 0px;
	padding: 10px;
	width: auto;

}

fieldset.normal {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #aaa;
	margin: 0px 0px 0px 175px;
	border: 0px;
}

fieldset.warning {
	color: #FF0000;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #aaa;
	border: 1px;
	margin: 1px 1px 1px 175px;
}

fieldset.normalt { 
	background-color: #FFFFFF;
	border: 0px;
}

fieldset.head {
	background-color: #eee;
	margin: 5px;
	width: auto;
}

fieldset.autenticacao {
	background-color: #FFFFFF;
}

fieldset.footer {
	margin: 20px 0px 0px 0px;
	padding: 10px 10px 40px 190px;
	clear: both;
	background-color: #FFD700;
}

#content_menu {
	float: left;
	margin-bottom: 20px;
}

#header_menu{
	padding-bottom: 100px;
}

legend {
	background-color: gray;
	color: #ffffff;
	margin: 0px;
	margin: expression(0 == 0 ? '0px -7px 10px -7px' : '0px -7px 10px -7px' );
	font-weight: normal;
	padding: 10px;
	display: block;
}

legend.admin {
	background-color: gray;
	color: #ffffff;
	margin: 0px;
	margin: expression(0 == 0 ? '0px -7px 10px -7px' : '0px -7px 10px -7px' );
	font-weight: normal;
	padding: 10px;
	display: block;
}

legendin { font-size: 1em; background-color: #ffffff; color: #000000; font-weight: bold; padding: 4px 8px; }

label.float { float: left; display: block; width: 200px; margin: 4px 0 0 0; clear: left;  }

label { display: block; width: auto; margin: 0 0 10px 0; }

label.spam-protection { display: inline; width: auto; margin: 0; }

.ppthelp {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 85%;
	margin-bottom: 1em;
}

.penhelp {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 85%;
	color: #666;
	margin-bottom: 1em;
}

input.inp-text, textarea, input.choose, input.answer { border: 1px solid #909090; padding: 5px; }
input.inp-text { width: 300px; margin: 0 0 8px 0;}
input.inp-textAuto { border: 1px solid #909090; padding: 4px; margin: 1px 1px 1px 1px; background-color: #FFFFFF; }

input.inp-textAuto, textarea { background-color:#fff;
    border-width:1px;
    border-style:solid;
    border-bottom-color:#aaa;
    border-right-color:#aaa;
    border-top-color:#ddd;
    border-left-color:#ddd;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    font-size: 10px;
 }

select {
   background: white;
   padding: 1px;
   font-size: 12px;
   border: 1px solid #ccc;
   border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
   height: 20px;
}



textarea {margin: 0 0 0 0; display: block; }

input.choose { margin: 0 2px 0 0; }
input.answer { width: 40px; margin: 0 0 0 10px; }
input.submit-button { font: 1.1em Georgia, "Times New Roman", Times, serif; letter-spacing: 1px; display: inline; margin: 23px 0 0 0; }
input.logout-button { font: 1.1em Georgia, "Times New Roman", Times, serif; letter-spacing: 1px; display: block; margin: 50px 0 0 0; }
input.op-button { font: 1.1em Georgia, "Times New Roman", Times, serif; letter-spacing: 1px; display: block; margin: 20px 0 0 0; }

input.inq-button { font: 1.1em Georgia, "Times New Roman", Times, serif; letter-spacing: 1px; display: inline; margin: 20px 0 0 0; }


/* form br { display: none; } */

/* ==================== Form style sheet END ==================== */


/* ==================== Table style sheet =======================*/

.box-table-a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 1000px;
	text-align: left;
	border-collapse: collapse;
}

.box-table-a th {
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #eedd82;
	border-top: 4px solid #FFD700;
	border-bottom: 1px solid #fff;
	color: #039;
}

.box-table-a td {
	padding: 8px;
	background: #eee8aa; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
	text-align: left;
}

.box-table-a tr:hover td {
	background-color: #ffdd00;
	color: #339;
}


.box-table-b {
	font-size: 12px;
	margin: 0px 0px;
	width: 1100px;
	text-align: center;
	vertical-align:middle;
	border-collapse: collapse;
	border-top: 7px solid #FFD700;
	border-bottom: 1px solid #FFD700;
}
.box-table-b th {
	font-size: 12px;
	font-weight: normal;
	padding: 3px;
	background: #eedd82;
	border-right: 1px solid #FFD700;
	border-left: 1px solid #FFD700;
	color: #000000;
}

.box-table-b td {
	padding: 3px;
	background: #eee8aa; 
	border-right: 1px solid #FFD700;
	border-left: 1px solid #FFD700;
	border-bottom: 1px solid #ffffff;
	color: #669;
}

.box-table-b caption {
	font-size: 15px;
	padding: 8px;
	background: #eee8aa; 
	border-right: 1px solid #FFD700;
	border-left: 1px solid #FFD700;
	border-bottom: 1px solid #ffffff;
	color: #669;
}

.box-table-b td#delete {
	padding: 8px;
	background: #ffffff; 
	border-right: 1px solid #FFD700;
	border-left: 1px solid #ffffff;

}

.box-table-b th#delete {
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #ffffff;
	border-right: 1px solid #FFD700;
	border-left: 1px solid #ffffff;
	color: #000000;
}


.box-table-c {
	font-size: 12px;
	margin: 10px 0px;
	width: 1000px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #FFD700;
	border-bottom: 7px solid #FFD700;
}
.box-table-c th {
	font-size: 15px;
	font-weight: normal;
	padding: 8px;
	background: #ffffff;
	border-right: 0px solid #FFD700;
	border-left: 0px solid #FFD700;
	color: #000000;
}

.box-table-c td {
	padding: 15px;
	font-size: 15px;
	background: #ffffff; 
	border-right: 0px solid #FFD700;
	border-left: 0px solid #FFD700;
	border-bottom: 1px solid #FFD700;
	color: #669;
}

.box-table-c caption {
	padding: 8px;
	font-size: 20px;
	background: #eee8aa; 
	border-right: 1px solid #FFD700;
	border-left: 1px solid #FFD700;
	border-bottom: 1px solid #ffffff;
	color: #669;
}

.box-table-c td#delete {
	padding: 8px;
	background: #ffffff; 
	border-right: 1px solid #FFD700;
	border-left: 1px solid #ffffff;

}

.box-table-c th#delete {
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #ffffff;
	border-right: 1px solid #FFD700;
	border-left: 1px solid #ffffff;
	color: #000000;
}
/* ==================== Table Reservas =======================*/

.cell_normal {
	width: 70px;
	height: 25px;
	text-align: center;
	border: 1px solid #000000;
}

.cell_heading {
	width: 70px;
	height: 25px;
	text-align: center;
	/*font-weight: bold;*/
	border: 1px solid #000000;
	background-color: #FFD700;
}

.cell_headingCal {
	width: 70px;
	height: 25px;
	text-align: center;
	/*font-weight: bold;*/
	border: 0px solid #000000;
	background-color: #FFFFFF;
}

.cell_reserved {
	width: 70px;
	height: 25px;
	text-align: center;
	border: 0px solid #000000;
	background-color: #EF6767;
}

.cell_selected {
	width: 70px;
	height: 25px;
	text-align: center;
	border: 2px solid #000000;
	background-color: #C6F4C9;
}

.cell_disabled {
	width: 70px;
	height: 25px;
	text-align: center;
	border: 1px solid #000000;
	background-color: #DBDBDB;
}

.cell_marked {
	width: 70px;
	height: 25px;
	text-align: center;
	border: 2px solid #000000;
	background-color: #DBF1FF;
}

.box_legend {
	width: 15px;
	height: 15px;
	border: 1px solid #000000;
}

.divlookup {
	position: absolute;
	text-align: left;
	color: #000000;
	background-color: #ffffff;
	-moz-box-shadow: 0px 1px 3px #cccccc;
 	-webkit-box-shadow: 0px 1px 3px #cccccc;
 	box-shadow: 0px 1px 3px #cccccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#cccccc')";
 	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#cccccc');	
}

.redcolor{
	color: #ff0000;
}

.greencolor{
    color: #00FF00
}

/* ==================== Menu Admin =======================*/
.link_span_imt{
	cursor:pointer;
}

/* ==================== Menus Corrigir Informação =======================*/

#accordionpub{ 
    cursor: auto;
    /*top, right, bottom, left
	margin: 0px 0px 0px 50px !important;*/
}   

#inner{ 
	margin: auto;
    cursor: auto;
}  

#inner th{ 
	 width: 35px;
} 


#espera {	
	width: 1000px;
    margin-left: 180px;
	text-align: center;
	border-collapse: collapse;
	border-right: 0px transparent;
	border-left: 0px transparent;
}

tr.publicacaoCorrigida td{
	background-color: #CCFF99
}

/* ==================== Transição de BD - Formulario =======================*/

.label_input {float: left; width: 200px; text-align: right; margin-right:8px;}
.input_transicao, .div_transicao {text-align: left; margin-left: 8px; display:block}
.input_transicao.submit { margin-left: 6em; padding: 2px 2px 2px 2px; }
.label_checkbox input { width:13px; height:13px; padding:0; margin:0; display:inline-block; margin:2px 4px 0px 4px; vertical-align:bottom }
.label_divisao { padding:0px 2px 0px 2px;float: left;color: #FFCC00; }
.label_divisao input[id^='sel'] { visibility: hidden;display:inline; }
.error{ border:2px solid #A80000;}